body{
    background-color: #ffffff !important;

}

/* Nav bar */
.navbar-expand-md .navbar-nav .nav-link{
    color: #000;
    font-weight: 500;
}
.collapse>.navbar-nav>.nav-item>a:hover
{
    color: #ee212b;
    cursor: pointer;
}

/* Banner */

.arousel>.carousel-inner>.carousel>.item-banner{
    position: relative;
}
.arousel>.carousel-inner>.carousel>h4{
    position: absolute;
    bottom: 15px;
}
.hover-but:hover .bt-play{
    display: block;
}
.main-banner>h1{
        position: absolute;
	    top: 28%;
	    left: 50%;
	    transform: translate(-50%, -20%);
	    /* background: green; */
	    color: white;
        text-align: center;
	    /* padding: 10px; */
	    /* border: none; */
        font-size: 30px;
        font-weight: bold;
}
.main-banner{
    position: relative;
}
.main-banner>p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -20%);
    /* background: green; */
    color: white;
    text-align: center;
    /* padding: 10px; */
    /* border: none; */
    font-size: 15px;
}
.main-banner>a,.main-banner>a:hover{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -20%);
    /* background: green; */
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #ee212b;
    padding: 15px 20px;
    border-radius: 4px;
}


.banner>.container-fluid>.row>.col-md-auto>.about>h1
{
    color: white;
}
.banner>.container-fluid>.row>.col-md-auto>.about>p
{
    color: white;
}
.banner>.container-fluid>.row>.col-md-auto>.about>a
{
    text-decoration: none;
    padding: 15px 20px;
    background-color: #ee212b;
    color: white;
    border-radius: 3px;
}

/* Banner 1 */
.banner-1>.container-fluid>.row>.col-md-12>h2
{
    color: white !important;

    font-weight: bolder;
    margin-top: 20px;
}
.banner-1>.container-fluid>.img-banner-1
{
   
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-1>.container-fluid>.row>.col-md-12>p
{
    color: white !important;
    font-weight: bolder;
    margin-top: 20px;
    
}
.banner-1>.container-fluid>.row>.col-md-12>a
{
   text-decoration:  none;
   padding: 15px 29px;
   background-color: #ee212b;
   color: white;
   border-radius: 5px;
   font-weight: bold;
}
.img-banner-1 {
    filter: brightness(80%);
}
/* .text-banner1
{
    
}
 .pra-banner1
{
}  */
/* Banner 2 */


/* Content */

.col-md-6>h5:hover
{
    color: #ee212b;
    cursor: pointer;
}
.col-md-6>p
{
    font-size: 13px;
    color: #444444;
}
/* Content-1 */
.content-1
{
    background: #f8f8f8 !important;
    margin: auto !important;
}
.col-md-6>a
{
    text-decoration: none;
    color: #ffff;
    padding: 15px 20px;
    background: #ee212b;
    font-size: 15px;
    border-radius: 2px;
    font-weight: bold;
}
.col-md-6>a:hover
{
    background-color: #d49f05;
    color: white;
    cursor: pointer;
}
.img-ctn1:hover{
    background-color: #cccccc;
    transition: 0.7s;
    box-shadow: 5px 5px 10px;
    cursor: pointer;
}
.hover-but:hover .bt-play{
    display: block;
}
.bt-play{
        position: absolute;
	    top: 55%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    /* background: green; */
	    color: #ee212b;
	    /* padding: 10px; */
	    /* border: none; */
        border-radius: 50%;
        border: 2px solid white;
        text-align: center;
        line-height: 50px;
	    cursor: pointer;
        width: 50px;
        height: 50px;
}
.hover-but{
    position: relative;
}

/* Content 2 */
.content-2>.container>.row>.col-md-4>.around{
    border-bottom: 1px solid #cccccc;
}
.content-2>.container>.row>.col-md-4>.around:hover{
    background-color: #cccccc;
    transition: 1s;
    box-shadow: 2px;
    cursor: pointer;
    
}
.content-2>.container>.row>.col-md-4>.around>h5:hover
{
    color: #ee212b;
    cursor: pointer;
}

/* Content 3 */
.content-3>.container>.link-a>a
{
    text-decoration: none;
    border: 1px solid #cccccc;
    padding: 10px 25px;
    color: #898989;
}
.content-3>.container>.link-a>.all,.content-3>.container>.link-a>a:hover
{
    background-color: #ee212b;
    color: white;
    cursor: pointer;
}
.content-3>.container>.row>.col-md-12>img:hover
{
    transition: 0.7s;
    box-shadow: 20px 20px 20px;
    cursor: pointer;
    
}
/* Content 4 */
.content-4>.container>.row>.col-md-3>.text>h4
{
    color: white;
}
.content-4>.container>.row>.col-md-3>.text>p
{
    color: white;
}


/* Footer-top */

.footer-top
{
background-color: #1D1d1d;
padding-bottom: 100px;
padding-top: 60px;
}
.col-md-3 p
{
    color: #b3b3b3;
}
.footer-top>.container>.row>.col-md-3>p:hover
{
    color: #ee212b;
    cursor: pointer;
}
.col-md-3>.row>.col-md-8>p:hover
{
    color: #ee212b;
    cursor: pointer;
}
/* PURCHASE NOW */
.purchase{
    padding: 60px 60px;
    background-color: #ee212b;
}
.purchase>.container>.row>.col-md-4>a
{
    text-decoration: none;
    background-color: white;
    padding: 20px 20px;
    color: #000;
    font-weight: bold;
}
.purchase>.container>.row>.col-md-8>h3
{
    color: #ffff;
}





/* Footer */
footer
{
    padding: 25px;
    background-color: black;
    color: #6f7967;
}

/* Move Top */
.movetop{
    position: fixed;
    right: 5px;
    bottom: 15px;
    
}
.movetop>a
{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    /* background-color: #1f1700; */
    border-radius: 50%;
    border: 1px solid #ee212b;
}

.movetop>a>i{
    color: #ee212b ;
    font-weight: 600;
}


/* Contact */


/* service */
.around-new{
    border-bottom: 1px solid #cccccc;
}
.around-new:hover{
   
    background-color: #cccccc;
    transition: 0.7s;
    box-shadow: 5px 5px 10px;

}
.new-content>.container>.row>.around-new>h5:hover
{
    color: #ee212b;
}